<template>
    
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                ${selectedRegion.name}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li repeat.for="region of regions" click.trigger="updateSelectedRegion(region)">
                    <a>
                        ${region.name}
                    </a>
                </li>
            </ul>
        </div>
                                    
        <input type="text" class="form-control" value.bind="summonerName">
        
        <div class="input-group-btn">
            <button type="button" class="btn btn-default" click.trigger="addSummoner()">
                Add
            </button>
        </div>
    </div>
    
</template>