<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Logbook/Http/Address" value="http://localhost" />
    <add key="Logbook/Http/CompressResponses" value="true" />
    <add key="Logbook/Http/EnableDebugRequestResponseLogging" value="true" />
    <add key="Logbook/Http/FormatResponses" value="true" />

    <add key="Logbook/Email/SmtpHost" value="localhost" />
    <add key="Logbook/Email/SmtpPort" value="25" />
    <add key="Logbook/Email/SmtpUseDefaultCredentials" value="true" />
    <add key="Logbook/Email/SmtpUsername" value="" />
    <add key="Logbook/Email/SmtpPassword" value="" />
    <add key="Logbook/Email/SmtpUseSsl" value="false" />
    <add key="Logbook/Email/OnErrorTryToSendEmailAgainAfterMinutes" value="30" />

    <add key="Logbook/App/InDebugHoldOnException" value="false" />

    <add key="Logbook/EmailTemplate/ConfirmEmailSender" value="confirm-email@xemio.net" />
    <add key="Logbook/EmailTemplate/PasswordResetEmailSender" value="reset-password@xemio.net" />

    <add key="Logbook/Security/MicrosoftClientId" value="" />
    <add key="Logbook/Security/MicrosoftClientSecret" value="" />
    <add key="Logbook/Security/FacebookAppId" value="" />
    <add key="Logbook/Security/FacebookAppSecret" value="" />
    <add key="Logbook/Security/GoogleClientId" value="" />
    <add key="Logbook/Security/GoogleClientSecret" value="" />
    <add key="Logbook/Security/TwitterConsumerKey" value="" />
    <add key="Logbook/Security/TwitterConsumerSecret" value="" />
    <add key="Logbook/Security/IterationCountForPasswordHashing" value="10000" />
    <add key="Logbook/Security/ConfirmEmailKeyPhrase" value="ConfirmEmailKeyPhraseSuperSecret12345!" />
    <add key="Logbook/Security/PasswordResetKeyPhrase" value="PasswordResetKeyPhraseSuperSecret12345!" />
    <add key="Logbook/Security/AuthenticationKeyPhrase" value="AuthenticationKeyPhraseSuperSecret12345!" />
    <add key="Logbook/Security/TwitterLoginKeyPhrase" value="TwitterLoginKeyPhraseSuperSecret12345!" />
    <add key="Logbook/Security/LoginIsValidForMinutes" value="480" />
    <add key="Logbook/Security/ConfirmEmailIsValidForMinutes" value="120" />
    <add key="Logbook/Security/PasswordResetIsValidForMinutes" value="120" />
    <add key="Logbook/Security/PasswordResetNewPasswordLength" value="20" />

    <add key="Logbook/Riot/RiotApiKey" value="" />
    <add key="Logbook/Riot/RiotApiRateLimitPer10Seconds" value="10" />
    <add key="Logbook/Riot/RiotApiRateLimitPer10Minutes" value="500" />
    <add key="Logbook/Riot/UpdateSummonersEveryMinutes" value="30" />
    <add key="Logbook/Riot/OnErrorTryToUpdateSummonerAgainAfterMinutes" value="30" />
    <add key="Logbook/Riot/AnalyzeSummonerMatchHistoryEveryMinutes" value="1440"/>
    <add key="Logbook/Riot/OnErrorTryToAnalyzeSummonerMatchHistoryAgainAfterMinutes" value="30" />
    <add key="Logbook/Riot/RequestMoreTimeToAnalyzeMatchHistoryInMinutes" value="5" />

    <add key="Logbook/Database/SqlServerConnectionString" value="" />
    <add key="Logbook/Database/RecreateDatabase" value="false" />
    <add key="Logbook/Database/UpdateDatabase" value="true" />

    <add key="Logbook/Azure/EmailQueueName" value="outgoingemails" />
    <add key="Logbook/Azure/SummonerUpdateQueueName" value="summonerupdates" />
    <add key="Logbook/Azure/AnalyzeSummonerMatchHistoryQueueName" value="analyzesummonermatchhistory" />
    <add key="Logbook/Azure/AzureStorageConnectionString" value="" />
    <add key="Logbook/Azure/ApplicationInsightsKey" value="" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>