<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Logbook/Http/Address" value="http://localhost" />
    <add key="Logbook/Http/CompressResponses" value="true" />
    <add key="Logbook/Http/EnableDebugRequestResponseLogging" value="true" />
    <add key="Logbook/Http/FormatResponses" value="true" />

    <add key="Logbook/Email/SmtpHost" value="localhost" />
    <add key="Logbook/Email/SmtpPort" value="25" />
    <add key="Logbook/Email/SmtpUseDefaultCredentials" value="true" />
    <add key="Logbook/Email/SmtpUsername" value="" />
    <add key="Logbook/Email/SmtpPassword" value="" />
    <add key="Logbook/Email/SmtpUseSsl" value="false" />
    <add key="Logbook/Email/OnErrorTryToSendEmailAgainAfterMinutes" value="30" />

    <add key="Logbook/App/InDebugHoldOnException" value="false" />

    <add key="Logbook/EmailTemplate/ConfirmEmailSender" value="confirm-email@xemio.net" />
    <add key="Logbook/EmailTemplate/PasswordResetEmailSender" value="reset-password@xemio.net" />

    <add key="Logbook/Security/MicrosoftClientId" value="000000004C180648" />
    <add key="Logbook/Security/MicrosoftClientSecret" value="HQE6mhs06Gt-IvALIXq5ZAZihtmzHzSt" />
    <add key="Logbook/Security/FacebookAppId" value="870380713083035" />
    <add key="Logbook/Security/FacebookAppSecret" value="2c81b1d6cb631aa720c28091cdc63c85" />
    <add key="Logbook/Security/GoogleClientId" value="493804315444-op9t86mr83oacrltum0pd06kc061b8lr.apps.googleusercontent.com" />
    <add key="Logbook/Security/GoogleClientSecret" value="lYEecaA-snppFmhBhmJysKXK" />
    <add key="Logbook/Security/TwitterConsumerKey" value="M7t3E77jJ67I5ZZGkLgTuVZw7" />
    <add key="Logbook/Security/TwitterConsumerSecret" value="ZXnl3cJyhdr5Om05Yi8m0XecJ452uNEXBEZPKFFwpeFsCnJoql" />
    <add key="Logbook/Security/IterationCountForPasswordHashing" value="10000" />
    <add key="Logbook/Security/ConfirmEmailKeyPhrase" value="ConfirmEmailKeyPhraseSuperSecret12345!" />
    <add key="Logbook/Security/PasswordResetKeyPhrase" value="PasswordResetKeyPhraseSuperSecret12345!" />
    <add key="Logbook/Security/AuthenticationKeyPhrase" value="AuthenticationKeyPhraseSuperSecret12345!" />
    <add key="Logbook/Security/TwitterLoginKeyPhrase" value="TwitterLoginKeyPhraseSuperSecret12345!" />
    <add key="Logbook/Security/LoginIsValidForMinutes" value="480" />
    <add key="Logbook/Security/ConfirmEmailIsValidForMinutes" value="120" />
    <add key="Logbook/Security/PasswordResetIsValidForMinutes" value="120" />
    <add key="Logbook/Security/PasswordResetNewPasswordLength" value="20" />

    <add key="Logbook/Riot/RiotApiKey" value="eddb4e8a-c7cc-402b-8bee-01b4facac1da" />
    <add key="Logbook/Riot/RiotApiRateLimitPer10Seconds" value="10" />
    <add key="Logbook/Riot/RiotApiRateLimitPer10Minutes" value="500" />
    <add key="Logbook/Riot/UpdateSummonersEveryMinutes" value="20" />
    <add key="Logbook/Riot/OnErrorTryToUpdateSummonerAgainAfterMinutes" value="30" />
    <add key="Logbook/Riot/AnalyzeSummonerMatchHistoryEveryMinutes" value="30"/>
    <add key="Logbook/Riot/OnErrorTryToAnalyzeSummonerMatchHistoryAgainAfterMinutes" value="30" />
    <add key="Logbook/Riot/RequestMoreTimeToAnalyzeMatchHistoryInMinutes" value="5" />

    <!--<add key="Logbook/Database/SqlServerConnectionString" value="Server=desktop-5sqc129\sqlexpress;Database=Logbook-Test;Trusted_Connection=True;" />-->
    <add key="Logbook/Database/SqlServerConnectionString" value="Server=tcp:logbook-test.database.windows.net,1433;Database=Logbook-Test;User ID=LogbookAdmin@logbook-test;Password=7DhA!=IQ3-z]US@#P_Bj;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="Logbook/Database/RecreateDatabase" value="false" />
    <add key="Logbook/Database/UpdateDatabase" value="true" />

    <add key="Logbook/Azure/EmailQueueName" value="outgoingemails" />
    <add key="Logbook/Azure/SummonerUpdateQueueName" value="summonerupdates" />
    <add key="Logbook/Azure/AnalyzeSummonerMatchHistoryQueueName" value="analyzesummonermatchhistory" />
    <add key="Logbook/Azure/AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=logbooktest;AccountKey=8ez8rqO7D72Mh/q5cLwBoglFGpmbB67QpLDrZOpqb3YJxtwdnYgDFeU0Em4/7Iv2WoZYSwLl7iVKCCuoM4E9Ew==;BlobEndpoint=https://logbooktest.blob.core.windows.net/;TableEndpoint=https://logbooktest.table.core.windows.net/;QueueEndpoint=https://logbooktest.queue.core.windows.net/;FileEndpoint=https://logbooktest.file.core.windows.net/" />
    <!--<add key="Logbook/Azure/AzureStorageConnectionString" value="UseDevelopmentStorage=true" />-->
    <add key="Logbook/Azure/ApplicationInsightsKey" value="33c761d1-5321-44b2-8ecd-ad4e9a711c33" />
    <add key="Logbook/Azure/MatchContainerName" value="matches" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>